<div class="section features features-5">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-10 text-center mx-auto">
        <h3 class="display-3">Agility as a driver</h3>
        <p class="lead text-justify">
          Agile development, supported by a culture committed to continuous innovation, enables quick adaptations,
          facilitates rapid introduction of new features, eliminates non-value-added activities, reduces product costs
          and enables on time satisfaction of customer requirements. It helps to deliver value quickly and establish
          scalable, flexible development processes.
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 mt-md-5">
        <div class="row">
          <div class="col-md-6" data-aos="fade-up">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-box-2"></i>
                </div>
                <h5 class="display-5">More control</h5>
                <p class="text-justify">Incremental development enables work to be broken into parts and conducted in
                  rapid, iterative cycles. This provides:</p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Transparency</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Improved project predictability</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Reduced risk</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Predictable Costs and Schedule</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-user-run"></i>
                </div>
                <h5 class="display-5">Rapid reaction to change</h5>
                <p class="text-justify">While delivering an agreed subset of features during each iteration, there is also
                  opportunity to constantly refine and re-prioritize the remaining tasks. This gives:</p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Fast adaptation to new needs</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Focus on user requirements</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Shorter time-to-market</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Increased product competitiveness</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6" data-aos="fade-up">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-delivery-fast"></i>
                </div>
                <h5 class="display-5">Frequent and fast releases</h5>
                <p class="text-justify">Value is produced in smaller increments instead of one big release. This enables:</p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Fast initial production release</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Constant improvements based on feedback from previous releases</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">A functional increment of the product delivered with every iteration</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Changes to project scope are less costly and easier to implement</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-single-02"></i>
                </div>
                <h5 class="display-5">Focus on end user and business value</h5>
                <p class="text-justify">By allowing the client to prioritize the features, understanding of what’s most important to the client’s is achieved, therefore the most valuable features can be delivered first. This leeds to:</p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Increased customer satisfaction</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Superior product quality</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Reduced risk of expensive market misses</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Eliminated waste</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>