<div class="section features features-5">
  <div class="container">


    <div id="process_quality">
      <div class="row" data-aos="fade-up">
        <div class="col-md-10 text-center mx-auto">
          <h3 class="display-3">Enforcing Quality as a Norm</h3>
          <p class="lead pl-5 pr-5 pb-3 text-center">
            <i>"Quality is not act. It is a habit."</i>  <br>  <b>Aristotle</b>
          </p>
          <p class="lead text-justify">
            To Assert quality we follow main points described in the
            <a href="https://iso25000.com/index.php/en/iso-25000-standards/iso-25010">"ISO/IEC 25010 - System and software quality model"</a>
            throughout the entire software product development lifecycle.
          </p>
          <img src="{{ '/assets/img/pages/process/quality.png' | relative_url }}" >
          <p class="lead text-justify">
            Key points include focus on:
          </p>
          <p class="text-justify">
            ‣ <b>Functional Stability</b> - achieved by ensuring the the product or system provides the specified functions,
            under the defined conditions.
          </p>
          <p class="text-justify">
            ‣ <b>Performance efficiency</b> - maintained by optimized resource usage, response time and performance under
            desired conditions, but also in high-load situations.
          </p>
          <p class="text-justify">
            ‣ <b>Compatibility</b> - attained by enabling the product or a solution to exchanging information with other products,
            systems or components, but also empowering it to share environments with other software products without any interference.
          </p>
          <p class="text-justify">
            ‣ <b>Usability</b> - affects user experience and defines how the user achieves specified goals with effectiveness,
            efficiency and satisfaction in a specified context of use. To attain one needs to lok at user interface
            aesthetics, simplicity and intuitivity, focus on operability, accessibility and protection of end users against
            making non-intentional errors.
          </p>
          <p class="text-justify">
            ‣ <b>Reliability</b> - enables the product or a solution to adequately perform specified functions for
            a specified period of time. It involves constant Availability, high degree of Fault tolerance and the ability
            to Recover the data and re-establish the desired state of the system in case of a an interruption or a failure.
          </p>
          <p class="text-justify">
            ‣ <b>Security</b> - involves putting in place procedures and mechanisms that protect information and data
            allowing access only to users an systems with appropriate levels of authorization.
          </p>
          <p class="text-justify">
            ‣ <b>Maintainability</b> - addresses the degree of effectiveness and efficiency with which a product or
            system can be modified, improved, adapted to changes in environment, or new requirements. It involves aspects
            like support for Modularity, Reusability, Reusability and Testability.
          </p>
          <p class="text-justify">
            ‣ <b>Portability</b> - enables product or component to be transferred from one hardware or software environment
            to the another one.
          </p>

      </div>
    </div>
    <br><br><br><br>

    <div id="process_innovation">
      <div class="row" data-aos="fade-up">
        <div class="col-md-10 text-center mx-auto">
          <h3 class="display-3">Innovation as a Driver</h3>
          <p class="lead pl-5 pr-5 pb-3 text-center">
            <i>“We cannot solve our problems with the same thinking we used when we created them.”</i>  <br>  <b> Albert Einstein</b>
          </p>
          <p class="lead text-justify">
            We humans, by nature, strive to constantly improve our selves and the environment we live in. Therefore, innovation
            and creativity can be found in each and every single one of us. However, to unlock and foster this potential,
            one needs to create an innovation-stimulating environment. Here are some of the innovation-cultivation methods we promote:
          </p>

          <p class="text-justify">
            ‣ <b>Encourage new ideas</b> - we like to encourage brainstorming and idea generation, and have a general principle
            that there are no bad ideas. When something does goes wrong, it is treated as a learning experience. This kind of
            approach helps us to foster a creative freedom which results in real innovation.
          </p>
          <p class="text-justify">
            ‣ <b>Fast prototype development process</b> - allows the developers to use shortcuts, make assumptions,
            hard-code non-essential parts, if necessary, and use mocked data to quickly build functional prototype of the idea.
            By giving the prototype to the users one can get user feedback quickly, which provides relevant data on the
            solidity of the idea and shines light on the next steps in the development process.
          </p>
          <p class="text-justify">
            ‣ <b>Stimulate a diverse environment and skill set</b> - By having a mix of senior and junior developers gives the team
            hardened experience mixed with fresh ideas. Working with the latest technologies and following the latest trends in the
            IT industry, helps to develop a diverse skill set, and a broad knowledge.
          </p>
          <p class="text-justify">
            ‣ <b>Treat failure as feedback</b> - the concept of failure is a ‘construct’ made up by the human mind
            to label certain, often, negative events, situations, results or circumstances. However, if we look at those
            events objectively, reflect on them, analyze the cause and steps that led to them, we will get invaluable
            feedback, far more important than any success will ever provide.
          </p>
          <p class="text-justify">
            ‣ <b>Set aside time to think and explore</b> - We tend to direct 10-15% of the employee time
            into creative thinking, research and new idea generation. Also we encourage communication, discussions and productive
            workshops that help generate innovative ideas and drive creativity.
          </p>
        </div>
      </div>
    </div>

    <br><br><br><br>

    <div id="process_simplicity">
      <div class="row" data-aos="fade-up">
        <div class="col-md-10 text-center mx-auto">
          <h3 class="display-3">Achieving Simplicity</h3>
          <p class="lead pl-5 pr-5 pb-3 text-center">
            <i>"Simplicity is the Ultimate Sophistication."</i>  <br>  <b>Leonardo Da Vinci</b>
          </p>
          <p class="lead text-justify">
            As software products are inherently complex, a lot of inter-communicating components coupled with an ever
            changing environment, we can say that Simplicity is the <i>"Holy Grail"</i>  of software development. It demands skill,
            devotion, and inspiration in discovering simple concepts which underline the complexity of the overall software
            solution, but also openness to compromise when conflicting demands cannot be met. As a prerequisite for achieving
            reliability, usability, scalability and maintainability, Simplicity is one of the most important characteristics
            of a software product. To attain it we apply the following practices:
          </p>

          <p class="text-justify">
            ‣ <b>Thinking beyond the technical aspects</b> - Whenever we think software, we tend to think in technical
            terms. However, software is not only the code, frameworks, and different technologies, it is about solving
            real-life problems, providing a intuitive users experience, satisfying business and product owner needs,
            achieving stakeholder interests and bending to the existing financial constraints.
          </p>

          <p class="text-justify">
            ‣ <b>Build complexity with simple parts</b> - How to foster simplicity when complexity is inevitable?
            The answer is, build it gradually, use simple, understandable components, make those components reusable,
            scalable, readable, and atomic. By reaching complexity with simplicity makes that complexity understandable
            and predictable.
          </p>

          <p class="text-justify">
            ‣ <b>Maintain consistency in design and functionalities</b> - By building consistent, the same principles
            and concepts are applied to the whole software product. This results in a more fluid and predictable user interaction
            and therefore increases the overall user experience.
          </p>

          <p class="text-justify">
            ‣ <b>Employ standard procedures and practices</b> - Simplicity can be stimulated by applying standard, well-known,
            battle-tested practices. Upfront design detects issues in early development stages, design reviews validate the UI,
            and an overall plan for how your system will function decreases potential problems later on. A well executed and
            consistent code reviews and automatic code analysis tools detect potential complications and help to follow accepted
            code quality standards. Clear separation of different concepts and a well structured software architecture enable
            the creation of an understandable and easily maintainable solution.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>