<section class="team-1">
  <div class="container">

    <div class="row" data-aos="fade-up">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <p class="lead text-justify">
          Our main focus is creating an integrated solution to tackle every aspect of the practical problem.
          Mobile applications for easy on the go control over the situation and a desktop/web solution providing
          detailed view and a comprehensive management possibilities.</p>
      </div>
    </div>

    <br><br>

    <div class="row" data-aos="fade-up">
      <div class="col-md-8 ml-auto mr-auto text-center">

        <h2 class="display-4">Managing the operations of a laboratory with a Lab4U integrated solution</h2>
        <p class="lead text-justify">
          Lab4U, integrated platform manages all aspects of the laboratory processes, regardless of the sample source,
          complexity, and different parameters of the process analysis.
        </p>
        <img class="img rounded" src="{{ '/assets//img/pages/products/Lab4U_1.PNG' | relative_url }}"
             class="img-center shadow">
        <br>
        <div style="display: grid;
                    grid-template-columns: auto auto auto;">
          <img class="img rounded img-center shadow"
               style=" margin: 5px; box-sizing: border-box;"
               src="{{ '/assets/img/pages/products/lab4u/ab4u_2.png' | relative_url }}">
          <img class="img rounded img-center shadow"
               style=" margin: 10px; box-sizing: border-box;"
               src="{{ '/assets/img/pages/products/lab4u/lab4u_3.png' | relative_url }}">
          <img class="img rounded img-center shadow"
               style=" margin: 15px; box-sizing: border-box;"
               src="{{ '/assets/img/pages/products/lab4u/lab4u_5.png' | relative_url }}">
        </div>
        <p class="lead text-justify">
          Features:
        </p>
        <ul>
          <li>
            <p class="mb-0 text-justify">Omni-channel approach to sample analysis</p>
          </li>
          <li>
            <p class="mb-0 text-justify">Starting the analysis process on the go by scanning or entering relevant
              sample data with mobile app.</p>
          </li>
          <li>
            <p class="mb-0 text-justify">Desktop application for employees who work in the process on site and
              require a detailed overview and complete information about the state of the process and parameters of
              the analysis.</p>
          </li>
          <li>
            <p class="mb-0 text-justify">Real-time notifications and escalations for efficient sample management.</p>
          </li>

          <li>
            <p class="mb-0 text-justify"> Workload management module, multi-level lab entry books, customisation via
              administration module and more...</p>
          </li>
        </ul>

        <div class="info">
          <a href="#" class="text-primary">Learn more...
          </a>
        </div>
        <br><br>
      </div>
    </div>


  </div>
</section>