<section class="team-1">
  <div class="container">

    <div class="row" data-aos="fade-up">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <p class="lead text-justify">
          Our main focus is creating an integrated solution to tackle every aspect of the practical problem.
          Mobile applications for easy on the go control over the situation and a desktop/web solution providing
          detailed view and a comprehensive management possibilities.</p>
      </div>
    </div>

    <br><br>

    <div class="row" data-aos="fade-up">
      <div class="col-md-8 ml-auto mr-auto text-center">

        <h2 class="display-4">MediCare Companion: Empowering Pain Management, Enhancing Lives</h2>
        <p class="lead text-justify">
          MediCare is a system designed for effectively treating a patient's acute
          and chronic pain in the real time. The system allows for detailed tracking
          of symptoms and the patient's progress, with customizable treatment
          options tailored to individual needs. The patient is at the center of
          attention, providing them with support, understanding, and personalized
          care for their long-term well-being and relief from chronic pain.
        </p>
        <img class="img rounded" src="{{ '/assets/img/pages/products/mcc/mcc_web.jpeg' | relative_url }}"
             class="img-center shadow">
        <br>

        <div style="display: grid; grid-template-columns: auto auto auto;">
          <div style="margin: 5px; padding: 5px; box-sizing: border-box; background-color: transparent;">
            <img class="img rounded img-center shadow"
                 style="width: 100%; height: 100%; object-fit: cover;"
                 src="{{ '/assets/img/pages/products/mcc/mcc_mobile_1.png' | relative_url }}">
          </div>
          <div style="margin: 5px; padding: 5px; box-sizing: border-box; background-color: transparent;">
            <img class="img rounded img-center shadow"
                 style="width: 100%; height: 100%; object-fit: cover;"
                 src="{{ '/assets/img/pages/products/mcc/mcc_mobile_2.png' | relative_url }}">
          </div>
          <div style="margin: 5px; padding: 5px; box-sizing: border-box; background-color: transparent;">
            <img class="img rounded img-center shadow"
                 style="width: 100%; height: 100%; object-fit: cover;"
                 src="{{ '/assets/img/pages/products/mcc/mcc_mobile_3.png' | relative_url }}">
          </div>
        </div>
        <p class="lead text-justify">
          Features:
        </p>
        <ul>
          <li>
            <p class="mb-0 text-justify"><b>Holistic Patient-Centric Approach:</b>
              Comprehensive pain tracking through mobile apps, wearables, and web platforms ensures a 360-degree view of
              the patient's health.</p>
          </li>
          <li>
            <p class="mb-0 text-justify"><b>Real-Time Monitoring and Early Detection:</b>
              Wearable devices provide continuous real-time monitoring, allowing for early detection of abnormalities
              and timely intervention.</p>
          </li>
          <li>
            <p class="mb-0 text-justify"><b>Data-Driven Insights for Healthcare Professionals:</b>
              The web application empowers medical staff and doctors with data-driven insights, enabling more informed
              decision-making and personalized care plans.</p>
          </li>
          <li>
            <p class="mb-0 text-justify"><b>Enhanced Patient-Doctor Communication:</b>
              Secure messaging and telemedicine features facilitate seamless communication between patients and
              healthcare providers, fostering a stronger doctor-patient relationship.</p>
          </li>

          <li>
            <p class="mb-0 text-justify"><b>User-Friendly and Engaging Patient Experience:</b>
              Intuitive interfaces on mobile and web applications, combined with gamification elements, create a
              user-friendly and engaging experience that encourages consistent tracking and active participation.</p>
          </li>
          <li>
            <p class="mb-0 text-justify"><b>Predictive Analytics for Proactive Care:</b>
              Integration of machine learning algorithms enables the system to predict pain triggers and provides
              proactive recommendations for optimized pain management.</p>
          </li>
          <li>
            <p class="mb-0 text-justify"><b>
              Customization for Individualized Care:</b>
              Customizable patient profiles and goal-setting features ensure that the system caters to the unique needs
              and preferences of each individual.
            </p>
          </li>
          <li>
            <p class="mb-0 text-justify"><b>
              Continuous Improvement and Innovation:</b>
              Regular updates and improvements based on user feedback, technological advancements, and evolving
              healthcare standards ensure the platform remains cutting-edge and continually improves patient outcomes.
            </p>
          </li>
          <li>
            <p class="mb-0 text-justify"><b>
              Scalability and Interoperability:</b>
              Designed for scalability to accommodate a growing user base and adaptable to emerging technologies,
              ensuring long-term relevance and sustainability.
            </p>
          </li>
        </ul>

        <div class="info">
          <a href="{{ '/contact' | relative_url }}" class="text-primary">Request a demo...
          </a>
        </div>
        <br><br>
      </div>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-md-8 ml-auto mr-auto text-center">

        <h2 class="display-4">Managing the operations of a laboratory with a Lab4U integrated solution</h2>
        <p class="lead text-justify">
          Lab4U, integrated platform manages all aspects of the laboratory processes, regardless of the sample source,
          complexity, and different parameters of the process analysis.
        </p>
        <img class="img rounded" src="{{ '/assets/img/pages/products/lab4u/lab4u_1.png' | relative_url }}"
             class="img-center shadow">
        <br>
        <div style="display: grid;
                    grid-template-columns: auto auto auto;">
          <img class="img rounded img-center shadow"
               style=" margin: 5px; box-sizing: border-box;"
               src="{{ '/assets/img/pages/products/lab4u/lab4u_2.png' | relative_url }}">
          <img class="img rounded img-center shadow"
               style=" margin: 10px; box-sizing: border-box;"
               src="{{ '/assets/img/pages/products/lab4u/lab4u_3.png' | relative_url }}">
          <img class="img rounded img-center shadow"
               style=" margin: 15px; box-sizing: border-box;"
               src="{{ '/assets/img/pages/products/lab4u/lab4u_5.png' | relative_url }}">
        </div>
        <p class="lead text-justify">
          Features:
        </p>
        <ul>
          <li>
            <p class="mb-0 text-justify">Omni-channel approach to sample analysis</p>
          </li>
          <li>
            <p class="mb-0 text-justify">Starting the analysis process on the go by scanning or entering relevant
              sample data with mobile app.</p>
          </li>
          <li>
            <p class="mb-0 text-justify">Desktop application for employees who work in the process on site and
              require a detailed overview and complete information about the state of the process and parameters of
              the analysis.</p>
          </li>
          <li>
            <p class="mb-0 text-justify">Real-time notifications and escalations for efficient sample management.</p>
          </li>

          <li>
            <p class="mb-0 text-justify"> Workload management module, multi-level lab entry books, customisation via
              administration module and more...</p>
          </li>
        </ul>

        <div class="info">
          <a href="#" class="text-primary">Learn more...
          </a>
        </div>
        <br><br>
      </div>
    </div>


  </div>
</section>