

  <div class="section features-7 bg-secondary fullWidth">
    <div class="container">

      <div class="row" data-aos="fade-up">
        <div class="col-md-10 mx-auto text-center">
          <h3 class="display-4">Backend development</h3>
          <p class="card-description text-justify">
            Backend development includes the 'behind-the-scenes' activities, whether it's building/maintaining a microservice environment,
            writing APIs, integrating different systems via. queues, modeling a database and writing code to interact with a database,
            or working on business processes and data architecture.
          </p>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-lg-12 mt-md-5">
          <div class="row">
            <div class="col-md-6" data-aos="fade-up">
              <div class="info">
                <div class="pr-md-2">
                  <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                    <i class="ni ni-world-2"></i>
                  </div>
                  <h5 class="display-5">Enterprise level microservice environments</h5>
                  <p class="text-justify">
                    If it is about building microservices from the ground up or breaking down legacy monolithic applications
                    effective microservices implementation has the potential to increase the rate of business innovation
                    and responsiveness. Out main focus lies with the Java, Spring and Spring Cloud microservice ecosystem.
                    Microservices:
                  </p>
                  <ul class="list-unstyled">
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">Ensure reliability by improved scalability and improve resiliency by better fault isolation</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">Enable greater business agility and better CI/CD support, which lead to faster deployment and troubleshooting </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">
                            Optimize business capabilities by customizing the needs of each component.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-up">
              <div class="info">
                <div class="pr-md-2">
                  <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                    <i class="ni ni-money-coins"></i>
                  </div>
                  <h5 class="display-5">APIs and system integration</h5>
                  <p class="text-justify">
                    We live in world where business models are based on secure access to data and different services.
                    APIs allow us to easily share data and information, connect people and systems, enable different transactions
                    and create new products or services. On the other hand system integration is becoming increasingly significant
                    and a basic requirement for business evolution and progress.
                  </p>
                  <ul class="list-unstyled">
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">A connected system increases productivity, improves efficiency and adds value to customers.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">Real time data exchange via APIs saves time, money, and is far more reliable in terms of data accuracy</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">Prompt collaboration and information sharing between different systems,
                            ensures the fluidity of all business processes.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" data-aos="fade-up">
              <div class="info">
                <div class="pr-md-2">
                  <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                    <i class="ni ni-send"></i>
                  </div>
                  <h5 class="display-5">Distributed, reactive, message and event driven systems</h5>
                  <p class="text-justify">In a system concerned with streams of information and the asynchronous propagation
                    of changes, one needs to rely on message or event driven architectures and non-blocking reactive programing principles.
                    Either it is implementing JVM based actor model with toolkit like Akka, using a message broker like RabbitMQ,
                    or utilizing a distributed streaming platform like Kafka, each system needs to be tailored to the specific business needs.
                  </p>
                  <ul class="list-unstyled">
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">Robust and distributed systems are capable of handling high number of
                            requests from multiple client applications</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">Message and event driven systems have the ability to perform decoupled,
                            parallel asynchronous operations in real time, maximizing responsiveness and improving customer experience</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">
                            Reactive Systems are, flexible, handle failure and remain available during outages,
                            loosely-coupled and scalable, and also strive under varying load conditions
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-up">
              <div class="info">
                <div class="pr-md-2">
                  <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                    <i class="ni ni-building"></i>
                  </div>
                  <h5 class="display-5">Modeling and supporting business processes</h5>
                  <p class="text-justify">
                    In a volatile modern economy, organizations must understand and constantly improve their business processes
                    to make successful and competitive business decisions. The process-oriented view of business environment
                    provides a better understanding of the organization and helps in comprehending the needs of the information
                    systems that support the business process.
                  </p>
                  <ul class="list-unstyled">
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">By knowing and controlling business processes one can easily
                            change them and promptly respond to new customer demands</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">With rising competition and never-ending market demands,
                            companies must continuously improve and fine-tune their business processes.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="mr-3">
                            <i class="ni ni-check-bold"></i>
                          </div>
                        </div>
                        <div>
                          <p class="text-justify">Everyone in a company needs to working together towards a common set of goals.
                            Business process management helps improve cross-department collaboration which brings immense benefits to the company.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

