

  <div id="consulting_services" class="section features-6 bg-secondary fullWidth">
    <div class="container">

      <div class="row" data-aos="fade-up">
        <div class="col-md-10 mx-auto text-center">
          <h3 class="display-4">Consulting services</h3>
          <p class="card-description text-justify">
            We offer in-depth analysis of the existing IT systems according to the business needs, assistance in validating and modernizing
            IT solutions and IT infrastructure, support in a cloud migration effort or expert guidance in a Business Process Management
            implementation and Business Process optimization effort.
          </p>
        </div>
      </div>

          <div class="info info-horizontal info-hover-primary div-wide" data-aos="fade-up">
            <div class="description pl-4">
              <div class="display-one-row">
                  <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                    <i class="ni ni-bullet-list-67 text-info"></i>
                  </div>
                <div class="margin-left-20">
                  <h5 class="title">Advising IT solution implementation</h5>
                </div>
              </div>
              <p class="text-justify">
                By analyzing your business needs we propose an IT solution (devise the architecture, select most adequate technologies,
                propose a devops approach) and construct a structured implementation plan with project timeline and required IT resources.
                Integration with existing software components in existing environment is reviewed, also the modernization of existing
                IT solutions or introduction of new digital technologies is considered.
              </p>
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary div-wide" data-aos="fade-up">
            <div class="description pl-4">
              <div class="display-one-row">
                <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                  <i class="ni ni-archive-2 text-info"></i>
                </div>
                <div class="margin-left-20">
                  <h5 class="title"> Application and infrastructure modernization </h5>
                </div>
              </div>
              <p class="text-justify">
                We analyze existing legacy applications and plan improvements by considering software architecture
                changes, introduction of new components, the need for re-coding using latest technologies or frameworks,
                possibility of a migration to a new platform, or the option of containerization and moving to the cloud.
                By providing functional and technical support we optimize costly maintenance of obsolete technologies
                and therefore improve the business agility.
              </p>
            </div>
          </div>

          <div class="info info-horizontal info-hover-primary div-wide" data-aos="fade-up">
            <div class="description pl-4">
              <div class="display-one-row">
                <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                  <i class="ni ni-app text-info"></i>
                </div>
                <div class="margin-left-20">
                  <h5 class="title">Cloud migration and Containerization</h5>
                </div>
              </div>
              <p class="text-justify"> Migration to the cloud environment offers higher performance, increased security, flexibility and cost-effectiveness for your applications
                stack, and is something worth considering. We help you decide on an optimal cloud model and migration strategy,
                set up CI/CD pipelines, devise the cloud application and data architecture and help achieve any modifications to the existing
                application stack, e.g. guidance trough the containerization process.
                </p>
            </div>
          </div>

          <div class="info info-horizontal info-hover-primary div-wide" data-aos="fade-up">
            <div class="description pl-4">
              <div class="display-one-row">
                <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                  <i class="ni ni-air-baloon text-info"></i>
                </div>
                <div class="margin-left-20">
                  <h5 class="title">Advising BPM Implementation and BP Optimization</h5>
                </div>
              </div>
              <p class="text-justify"> Agility of the organization depends on the clarity of the Business Processes (BP) and the ability to
                promptly adapt and fine-tune those BPs as market demands change. Therefore it is of a great importance
                for the organization to have a well defined, optimized BPs and a solid Business Process Management (BPM) solution.
                We provide guidance in the BPM implementation effort by selecting the adequate BPM suite based on the business needs
                and advise the BP modeling approach. It is important to define the context, business process architecture of the business area,
                discover and model the BPs and identify any process deficiencies. We help develop a BPM mentality in a company,
                by sharing expertise, experience, skills and a methodology for business process modelling, analysis, design
                and improvement. Also we communicate BPM principles, concepts and benefits to senior management and clarify
                their role in the success of a BPM initiative.
              </p>
            </div>
          </div>
        </div>
  </div>

