<div id="devops_as_a_service" class="section features-6">
  <div class="container">

    <div class="row" data-aos="fade-up">
      <div class="col-md-10 mx-auto text-center">
        <h3 class="display-4">DevOps as a service</h3>
        <p class="card-description text-justify">
          DevOps implies the collaboration between development and operations teams in order to deliver better products with
          the help of resources like Continuous Integration and Continuous Delivery (CI/CD) tools, software
          provisioning and configuration management utilities like Ansible, container platforms, version control
          systems and observability and monitoring solutions. We offer a powerful combination of profound tech expertise
          in the above described areas.
        </p>
      </div>
    </div>

    <h3 class="display-4 mt-3 text-center"></h3>
    <div class="row align-items-center">
        <div class="info info-horizontal info-hover-primary" data-aos="fade-up">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-delivery-fast text-info"></i>
            </div>
            <h5 class="title text-center">Continuous Integration, Delivery and Deployment</h5>
            <p class="text-justify"> Continuous Integration encourages constants merges of code changes to the main branch, and validation
              of those changes trough automated tests in oder to eliminate bugs in early development stages.
              An extension of Continuous Integration, Continuous Delivery, enables automated deploys of any artefact versions
              to all required environments (dev, test, prod, etc) therefore allowing faster and painless version updates.
              With Continuous deployment every change that passes all stages of your production pipeline is released to the
              customers without human intervention, which is is an excellent way to accelerate the customer-feedback loop
              and free the team from worrying about production releases.
            </p>
          </div>

        <div class="info info-horizontal info-hover-primary" data-aos="fade-up">
           <div class="icon icon-shape icon-shape-info rounded-circle text-white margin-right-20">
             <i class="ni ni-collection text-info"></i>
           </div>
          <h5 class="title text-center"> Configuration management and Infrastructure-as-code</h5>

            <p class="text-justify">Configuration Management is fundamental for a DevOps-driven framework, it helps to automate mundane
              maintenance tasks, enables faster restoration of services, increases agility and improves resolution of issues by making it easy for
              people to track changes that may have caused problems. It also reduces risk of unpredictable system
              failures and data breaches.
              By managing and provisioning infrastructure as code instead of doing it through manual processes, we create configuration files
              that contain your infrastructure specifications (e.g. so called playbooks in the Ansible Automation Platform).
              This approach makes it easier to edit and distribute configurations but also ensures improved infrastructure
              consistency and faster deployment.
            </p>
          </div>

        <div class="info info-horizontal info-hover-primary" data-aos="fade-up">
            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
              <i class="ni ni-compass-04 text-info"></i>
            </div>
            <h5 class="title text-center">Continuous, real time, service monitoring solutions</h5>
            <p class="text-justify">
              Continuous monitoring is a critical component of the DevOps pipeline. It provides automation that allow developers
              to effectively monitor applications, infrastructure, and network components in the production environment.
              Continuous monitoring assists IT organizations by providing real-time feedback in the event of
              different issues arising in the prod environment, which allows the responsible people to work on necessary
              fixes as soon as possible. Basically, it improves incident response and threat assessment, helps analyzing
              root causes of problems and provides general feedback on the overall health of the IT system.
            </p>
          </div>
    </div>
  </div>
</div>

