

  <div class="section features-6 fullWidth">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-10 mx-auto text-center">
          <h3 class="display-4">Mobile development</h3>
          <p class="card-description text-justify">
            After some experience with hybrid app development using Ionic framework our main focus shifted to Flutter.
            While Ionic proved to be developer-friendly by building upon familiar Javascript frameworks and libraries,
            it's main downside turn out to be performance, mainly because it uses WebView for rendering. This is especially true
            for memory-intensive or complex applications. On the other hand, when building with Flutter your Dart code
            is converted into native machine code that will run smooth on any targeted platform.
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-4 mr-auto text-left mt-4" data-aos="fade-up">
          <div class="card bg-default shadow border-0">
            <img src="{{ '/assets//img/pages/services/mobile_flutter.jpeg' | relative_url }}" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
              </svg>
              <h4 class="display-4 text-white text-center">Flutter, driving efficient development process</h4>
              <p class="text-italic text-white text-justify">
                As a cross-platform technology, Flutter enables iOS and Android development from the same codebase.
                Additionally, it is the only mobile SDK that doesn’t use a bridge for communication between the
                app and the platform and so delivers high performance. Consequently this contributes to fast app
                startup times and less performance issues. Flutter also includes a well-designed “hot reload”
                function, which allows you to see updates in real time without restarting the app and therefore shortens
                the development effort.
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-lg-7 p-sm-0">
          <div class="row" >
            <div class="col-md-6" data-aos="fade-up">
              <div class="info info-hover-warning">
                <h5 class="info-title">Extensive Customisation and Fast Rendering </h5>
                <p class="description opacity-8 text-justify">
                  Flutter controllers every pixel on the screen, meaning it dosen't use native built-in pre-styled components.
                  Flutter asks the native platform a "Canvas" and then creates native components by drawing them on that
                  canvas. Therefore, Flutter is not bound by the restrictions of the platformThe and it's way of rendering makes
                  the framework really stand out from the crowd eliminating  any worries about the UI consistency on different platforms.
                </p>
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-up">
              <div class="info info-hover-info">
                <h5 class="info-title">Beautiful, Rich and Flexible UI</h5>
                <p class="description opacity-8 text-justify">
                  Flutter provides rich widgets, reusable components, that follow the guidelines of Cupertino (iOS) and Material Design (Android).
                  It has the ability to customize anything you see on the screen, regardless of the complexity. Flutter allows you to
                  effortlessly perform different element transitions, shape or color manipulations, transformations, etc. While it is possible to
                  do a very custom UI on the native platforms as well, the required effort required is usualy multiple times higher.
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-lg-4" >
            <div class="col-md-6" data-aos="fade-up">
              <div class="info info-hover-danger">
                <h5 class="info-title">Faster Time-to-Market</h5>
                <p class="description opacity-8 text-justify">
                  Since Flutter is cross-platform framework, the same code base is used for iOS and Android applications, which saves both time and resources.
                  It is also a perfect choice for MVP (Minimum Viable Product) development. One can release your app quicker and ship new
                  features and upgrades to iOS and Android simultaneously.
                </p>
              </div>
            </div>
            <div class="col-md-6" data-aos="fade-up">
              <div class="info info-hover-success">
                <h5 class="info-title">Compatibility & Open-source</h5>
                <p class="description opacity-8 text-justify">
                  Since Flutter widgets are part of the app and not the platform, there is less or no compatibility issues on different
                  OS versions. This in turn means less time spent on testing. Additional, both Flutter and Dart are open-source,
                  and provide extensive documentation and community support to help out with any issues one may encounter.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

