<div id="product_design" class="section features-6">
  <div class="container">

    <div class="row" data-aos="fade-up">
      <div class="col-md-10 mx-auto text-center">
        <h3 class="display-4">Product design</h3>
        <p class="card-description text-justify">
          Product design, at its core, is actually a problem solving activity. A process where one uses different tools
          and ideas to discover and define a product or a service that will improve a user experience or satisfy a
          specific business need. Weather designing a <b> System</b>, <b>Process</b> or an <b>Interface</b> it is all about discovering and
          balancing customers’ habits, behaviors, frustrations, needs, and wants.
        </p>
      </div>
    </div>

    <h3 class="display-4 mt-3 text-center"></h3>
    <div class="row align-items-center">


        <div class="info info-horizontal info-hover-primary" data-aos="fade-up">

          <div class="description pl-4">
            <div class="display-one-row">
              <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                <i class="ni ni-atom text-info"></i>
              </div>
              <div class="margin-left-20-top-10">
                <h5 class="title">Evolving the idea</h5>
              </div>
            </div>
            <p class="text-justify"> Forming the idea is done trough multiple question and task-based workshops with the
              client and the targeted users. By utilizing techniques like <b>Journey Maps</b> we tend to capture a user idea
              through a high-level description of the desired task or process. By documenting the triggers,
              motivation and user-experience we deep dive into the details of the idea, while user emotions help us
              to identify pain-points and opportunities.
            </p>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary" data-aos="fade-up">
          <div class="description pl-4">
            <div class="display-one-row">
              <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                <i class="ni ni-single-copy-04 text-info"></i>
              </div>
              <div class="margin-left-20-top-10">
                <h5 class="title">Visualizing and structuring</h5>
              </div>
            </div>
            <p class="text-justify">Next step is to visualize and create a draft of the solution, a mock-up used as a basis for further
              higher precision designs. This draft versions are great for exploring an idea because of a low cost investment,
              and they allow to, relatively easy, filter out the bad approaches. A great way of visualizing and structuring is by
              creating <b>Wireframes</b> - a sketch or blueprint that is useful for showing and communicating the structure of
              the software solution.
            </p>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary" data-aos="fade-up">
          <div class="description pl-4">
            <div class="display-one-row">
              <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                <i class="ni ni-check-bold text-info"></i>
              </div>
              <div class="margin-left-20-top-10">
                <h5 class="title">Building and validating</h5>
              </div>
            </div>
            <p class="text-justify">Final stage of design phase consist of creating simulated clickable prototype designs whose goal is to
              test to solution through a series of feedback-based user sessions. The main objective is to gather unbiased
              data from users in a specifically targeted market segment and catch any information architecture and usability
              issues. After the verification, product designs serve as the blueprint and provide detailed guidance to the
              product implementation effort.
            </p>
          </div>
        </div>

        <div class="info info-horizontal" data-aos="fade-up">
          <img  src="{{ '/assets//img/pages/services/product_design.jpeg' | relative_url }}" width="100%">
        </div>
    </div>
  </div>
</div>

