

  <div id="web_development" class="section features-7 bg-secondary fullWidth">
    <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="col-md-10 mx-auto text-center">
            <h3 class="display-4">Web development</h3>
            <p class="card-description text-justify">Out of more than
              <a href="https://www.internetlivestats.com/total-number-of-websites/"> 2 billion active websites</a>
              today about 97% of those use JavaScript. JavaScript frameworks, therefore, play a key part of any modern enterprise-level
              frontend web development. In general they provide developers with reliable and tested tools for building scalable,
              interactive web solutions. After extensive experience with Angular and React, lately, our focus is also shifting to
              Flutter for web.
            </p>
          </div>
        </div>


        <div class="row align-items-center">
          <div class="col-lg-12">


            <div class="info info-horizontal div-wide" data-aos="fade-up">
              <div class="description pl-4">
                <div class="row">
                  <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <div class="margin-left-20-top-10">
                    <h5 class="title">Angular</h5>
                  </div>
                </div>
                <p class="text-justify">
                  Angular is a Javascript framework built using Typescript and managed by Google’s Angular Team and the Angular
                  developer community. It is mostly used to build complex enterprise-grade apps like single-page applications
                  and progressive web applications. While having a steeper learning curve, as it is a full-fledged framework,
                  features like Two-way data binding, Directives, Dependency injection and a large community enable it to
                  reduce the time and ease the development effort.
                </p>
              </div>
            </div>
            <div class="info info-horizontal div-wide" data-aos="fade-up">
              <div class="description pl-4">
                <div class="row">
                  <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <div class="margin-left-20-top-10">
                    <h5 class="title">React</h5>
                  </div>
                </div>
                <p class="text-justify"> Reactjs, a Javascript library which uses JSX, a concept of writing HTML inside JavaScript. It provides only the the view part in
                  the MVC (Model-View-Controller) model, and allows developers to freely choose different libraries and frameworks to manage other
                  aspects of their applications. It is easy to learn, has Virtual DOM to efficiently manage changes in real DOM, functional or
                  stateless components that isolate state from the components and allow more flexibility with component reuse.
                </p>
              </div>
            </div>
            <div class="info info-horizontal div-wide" data-aos="fade-up">
              <div class="description pl-4">
                <div class="row">
                  <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <div class="margin-left-20-top-10">
                    <h5 class="title">Flutter for web</h5>
                  </div>
                </div>
                <p class="text-justify">
                  Flutter is the right solution when building a web and mobile apps at the same time, and therefore utilizing a
                  single codebase for the entire project. However, developers still need to create responsive UIs, as the web and
                  mobile apps will work on various screen sizes and resolutions. Flutter also enables a fast development with
                  hot-reload which works by injecting updated source code files into the running Dart Virtual Machine
                  and enables instant visualisation of the implemented change.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

