

{% include components/headers/homepage-header.html %}
<div class="section features-3 my-5 fullWidth"
     style="background-image: url(' {{ '/assets/img/ill/p31.svg' | relative_url }}')">
  <div class="container">
    <div class="row text-center justify-content-center" data-aos="fade-up">
      <div class="col-lg-8">
        <h3 class="display-2 text-white">What do we do?<h3>
            <h4><span class="text-success">Design and develop extraordinary products, provide consulting services</span></h4>
            <p class="lead text-white">
              The art lies in discovering how things work, dissecting the process, forging and controlling the
              interactions of different segments, all in order to create a natural experience of human-machine
              interaction. When done well the results are profound and overpowering.
            </p>
      </div>
    </div>
    <div class="row row-grid mt-5">
      <div class="col-lg-6" data-aos="fade-up">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-info rounded-circle text-white">
            <i class="ni ni-bullet-list-67 text-info"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-info">Product design</h5>
            <ul>
              <li>Research, Analyze, Brainstorm</li>
              <li>Idea, Strategy, Concept</li>
              <li>Design, Prototype</li>
              <li>Validate, Test</li>
            </ul>
            <a href="{{ site.baseurl }}/services.html#product_design" class="text-info">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-warning rounded-circle text-white">
            <i class="ni ni-building text-warning"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-warning">Full stack development</h5>
            <ul>
              <li>Web development</li>
              <li>Mobile development</li>
              <li>Backend development</li>
              <li>Custom software development</li>
            </ul>
            <a href="{{ site.baseurl }}/services.html#web_development" class="text-info">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-grid">
      <div class="col-lg-6" data-aos="fade-up">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-danger rounded-circle text-white">
            <i class="ni ni-settings-gear-65 text-danger"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-danger">Devops as a service</h5>
            <ul>
              <li>Configuration management</li>
              <li>CI/CD services</li>
              <li>Infrastructure as code (IaC)</li>
              <li>Service monitoring</li>
            </ul>
            <a href="{{ site.baseurl }}/services.html#devops_as_a_service" class="text-info">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up">
        <div class="info info-horizontal bg-white">
          <div class="icon icon-shape icon-shape-success rounded-circle text-white">
            <i class="ni ni-paper-diploma text-success"></i>
          </div>
          <div class="description pl-4">
            <h5 class="title text-success">Consulting services</h5>
            <ul>
              <li>Advising IT solution implementation</li>
              <li>Validation and Modernization of IT solutions an systems architecture</li>
              <li>Cloud migration and Containerization</li>
              <li>Feasibility study & implementation plan</li>
            </ul>
            <a href="{{ site.baseurl }}/services.html#consulting_services" class="text-info">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section features-1">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-8 mx-auto text-center">
        <h3 class="display-2">What do we value?</h3>
        <p class="lead">
          Values are the backbone of a purpose driven organization. They determine behaviors and beliefs that are
          embedded, not only in the organizational culture, but also in the products and services the organisation delivers.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" data-aos="fade-up">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
            <i class="ni ni-settings-gear-65"></i>
          </div>
          <h6 class="info-title text-uppercase text-primary">QUALITY</h6>
          <p class="description opacity-8 text-justify">Setting quality as a norm, not only produces efficient long-term products but
            enables a constant evolution of those products.
          </p>
          <p class="description opacity-8 text-justify">
            We keep focus on key software quality attributes; Functional Suitability,
            Reliability, Performance efficiency, Security, Maintainability, but also cherish activities like defining best practices,
            analyzing source code quality and checking code for vulnerabilities, writing and maintaining functional and performance test cases on all levels.
          </p>
          <p class="description opacity-8 text-justify">
            We cherish an agile iterative continuous improvement mindset: discover, validate, implement, improve.
          </p>
          <a href="{{ site.baseurl }}/process.html#process_quality" class="text-primary">How do we enforce quality?
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
            <i class="ni ni-atom"></i>
          </div>
          <h6 class="info-title text-uppercase text-success">INNOVATION</h6>
          <p class="description opacity-8 text-justify">Innovation empowers creative development and continuous
            improvement. It also enables problem-solving and provides creative insight that allows one to look at things from a
            different perspective.
          </p>
          <p class="description opacity-8 text-justify">
            We strive to maintain a customer-centric innovation focus by making sure that the innovation responds
            to customer needs and has the flexibility to evolve as one better understands those needs.
            The insights received from that approach will make all the difference in ensuring that the product not only
            solves a specific problem, but also provides an exceptional customer experience.
          </p>
          <a href="{{ site.baseurl }}/process.html#process_innovation" class="text-primary">How innovation drives us?
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up">
        <div class="info">
          <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
            <i class="ni ni-world"></i>
          </div>
          <h6 class="info-title text-uppercase text-warning">SIMPLICITY</h6>
          <p class="description opacity-8 text-justify">Simplicity is the ultimate sophistication, and achieving simplicity in a world
            of never-ending complexity is a daunting task.
          </p>
          <p class="description opacity-8 text-justify">
            While designing and building software solution our main focus is the ease of use. From simple and easy to navigate interfaces,
            automated workflows and dashboards that condense complex data into understandable takeaways,
            we focus on simplifying the users job and providing him/her with the most relevant and important information.
          </p>
          <a href="{{ site.baseurl }}/process.html#process_simplicity" class="text-primary">Simplicity as our goal.
            <i class="ni ni-bold-right text-primary"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="section features-7 bg-secondary fullWidth">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-2">Technologies we excel in</h3>
        <p class="lead">By keeping up with the latest technology trends, we do not only feed out curiosity, but most importantly
          open new horizons that enable us to envision, express and actualize new business ideas and products.</p>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-12">
        <div class="row row-grid">
          <div class="col-lg-4" data-aos="fade-up">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <h6 class="text-primary text-uppercase border-bottom">MOBILE </h6>
                <div class="one-row-icons-container-div">
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Flutter" data-container="body" data-animation="true"
                        src="{{ '/assets/img/technology_stack/flutter.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img src="{{ '/assets/img/technology_stack/empty.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img src="{{ '/assets/img/technology_stack/empty.svg' | relative_url }}">
                  </div>
                </div>
                <h6 class="text-primary text-uppercase border-bottom">WEB </h6>
                <div class="one-row-icons-container-div">
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Angular" data-container="body" data-animation="true"
                         src="{{ '/assets/img/technology_stack/angular.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="React" data-container="body" data-animation="true"
                        src="{{ '/assets/img/technology_stack/react.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="TypeScript" data-container="body" data-animation="true"
                         title="TypeScript" src="{{ '/assets/img/technology_stack/typescript.svg' | relative_url }}">
                  </div>
                </div>
                <div class="one-row-icons-container-div">
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="JavaScript" data-container="body" data-animation="true"
                        src="{{ '/assets/img/technology_stack/javascript.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img src="{{ '/assets/img/technology_stack/empty.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img src="{{ '/assets/img/technology_stack/empty.svg' | relative_url }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <h6 class="text-success text-uppercase border-bottom">BACKEND</h6>
                <div class="one-row-icons-container-div">
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Java" data-container="body" data-animation="true"
                        src="{{ '/assets/img/technology_stack/java.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Spring" data-container="body" data-animation="true"
                        src="{{ '/assets/img/technology_stack/spring.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Spring Boot" data-container="body" data-animation="true"
                        src="{{ '/assets/img/technology_stack/spring_boot.svg' | relative_url }}">
                  </div>
                </div>
                <div class="one-row-icons-container-div">
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Firebase" data-container="body" data-animation="true"
                         src="{{ '/assets/img/technology_stack/firebase.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Kafka" data-container="body" data-animation="true"
                        src="{{ '/assets/img/technology_stack/kafka.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Camunda BPM" data-container="body" data-animation="true"
                        src="{{ '/assets/img/technology_stack/camunda.svg' | relative_url }}">
                  </div>
                </div>
                <div class="one-row-icons-container-div">
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Elastic stack" data-container="body" data-animation="true"
                         src="{{ '/assets/img/technology_stack/elastic.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Akka" data-container="body" data-animation="true"
                         src="{{ '/assets/img/technology_stack/akka.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Hazelcast" data-container="body" data-animation="true"
                         src="{{ '/assets/img/technology_stack/hazelcast.svg' | relative_url }}">
                  </div>
                </div>
                <div class="one-row-icons-container-div">
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Oracle" data-container="body" data-animation="true"
                         src="{{ '/assets/img/technology_stack/oracle.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="MongoDB" data-container="body" data-animation="true"
                         src="{{ '/assets/img/technology_stack/mongo.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img src="{{ '/assets/img/technology_stack/empty.svg' | relative_url }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up">
            <div class="card card-lift--hover shadow border-0">
              <div class="card-body py-5">
                <h6 class="text-warning text-uppercase border-bottom">DEVOPS</h6>
                <div class="one-row-icons-container-div">
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="Ansible" data-container="body" data-animation="true"
                         src="{{ '/assets/img/technology_stack/ansible.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="GitHub" data-container="body" data-animation="true"
                        src="{{ '/assets/img/technology_stack/github.svg' | relative_url }}">
                  </div>
                  <div class="one-row-icons-image-div">
                    <img data-toggle="tooltip" data-placement="top" title="BitBucket" data-container="body" data-animation="true"
                         src="{{ '/assets/img/technology_stack/bitbucket.svg' | relative_url }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
