<header class="header-1 fullWidth">
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('{{ '/assets/img/ill/p2.svg' | relative_url }}')"></div>
    <div class="container">
      <br><br><br>
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <br><br>
          <h3 class="display-1">Creative technology and consulting agency.</h3>
          <br>
          <p class="lead mt-0">We are a customer-centric software development and consulting agency focusing on advanced business
            solutions which enable our clients to achieve the desired goals.</p>
        </div>
      </div>
    </div>
  </div>
</header>