<section class="team-1">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <p class="lead text-justify">
          We are a collective of individuals, seasoned IT veterans which developed and implemented
          different solutions across multiple business branches, along side with young talented individuals striving for new challenges and experiences.
        </p>
      </div>
    </div>
    <br><br>
    <div class="row" data-aos="fade-up">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="display-4">Supporting Digital Evolution of the world trough Advanced Digital Solutions</h2>
        <p class="lead text-justify">
          Digital evolution is a process of integrating digital technology into different areas of a business,
          fundamentally changing how one operates and delivers value to the customers.
          It begins with an idea, a problem, a clear opportunity, or an aspirational goal.
          Often aimed at a changing business or market requirements it might be about improving customer experience, increasing productivity,
          or elevating profitability, but in an essence it's goal is to simplify daily user actions and improve peoples lives.
          The core of each transformative digital solution is the customer, it begins with the customer, and ends with the customer.
        </p>
      </div>
    </div>
    <br><br>
    <div class="row" data-aos="fade-up">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="display-4">Motivated by our values - <i>Quality, Innovation</i> and <i>Simplicity</i></h2>
        <p class="lead text-justify">
          Striving for innovation and dwelling upon problems that are not easily solvable is a great motivator.
          Upon finding a solution, an additional challenge awaits - developing the product in a way that it will breathe with simplicity end ease of use.
          And finally, all of the done must adhere to the highest quality standards.
        </p>
      </div>
    </div>
    <br><br>
    <div class="row" data-aos="fade-up">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="display-4">Focused on Team Spirit and Human Potential</h2>
        <p class="lead text-justify">
          We encourage knowledge and idea sharing on all levels, incite cooperation and open communication while also foster
          responsibility towards work and our clients.
          By continuously investing in technical skillet of our people, promoting teamwork and self-organizational culture we ensure a creative
          and a motivating work environment and support the company’s growth.
        </p>
      </div>
    </div>

  </div>
</section>